# Debe ser exactamente el mismo valor que JWT_ACCESS_SECRET en auth-service,
# ya que este servicio verifica la firma del access token emitido por auth-service.
JWT_ACCESS_SECRET="5351eaee6672e1828969c2a64f60eaafbc1d0216902da00ca513982682cb"
PORT="4001"
